body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



#home{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}

.menu{
    display: flex;
}

.menu li a{
    margin-left: 10px;
    padding: 5px 15px;
    color: #6c707c;
    font-size: 12px;
}

.personal{
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}

.menu li a:hover,
.active{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}

.intro{
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}

.intro .halo,
.intro .detail{
    color: #6c707c;
    font-size: 16px;
}

.intro .nama{
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
    font-weight: bold;
}

.btn{
    position: relative;
    margin-top : 10px;
    display: inline-block;
    justify-content: center;
    background-color: #2196f3;
    color: #FFF;
    padding: 10px 30px;
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    
}

.btn:hover{
    background-color: #1ed98b;
    transition: all ease 0.5s;
}

.social{
    position: absolute;
    left:25px;
    bottom: 30px;
    display: flex;
}

.social a{
    margin : 6px 10px;
}

svg{
    opacity: 0.5;
}

svg:hover{
    opacity: 1;
    transition: all ease 0.5s;
}

.arrow{
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41,41,41,0.3);
}

.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #2929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}

#about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 50px 5%;
}

.about-text{
    font-family: calibri;
    width: 50%;
}

.about-text p{
    font-size : 1.2rem;
    color : rgba(251,251,251,0.9);
}

.about-text h2{
    font-family: Poppins;
    font-size: 4.5rem;
    color: #17d1ac;
}

.about-text h3{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 400;
    font-style: italic;
}

.about-text h2,h3{
    margin: 0px;
    padding: 0px;
}

.about-model {
    width: 50%;
    height: 100%;;
}

.about-model img{
    
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right: 10%;

}

#story{
    width: 100%;
    height: 100vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: #edf1fd;
}

.s-heading h1{
    color: #161616;;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.s-heading p{
    color: #6c707c;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.s-heading{
    text-align: center;
    margin: 20px 0px;
}

.s-box{
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}

.s-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.s-b-img{
    width: 100%;
    height: 70%;
}

.s-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-b-text{
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-text a{
    margin: 0px;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: calibri;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.s-type{
    font-family: calibri;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.s-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.s-b-text a:hover{
    color:rgba(255,255,255,0.5);
}

#picture{
    width: 100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 20px 2%;
}

.p-heading{
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.p-text {
    width: 100%;
    height: 5%;
    margin: 0px;
}

.p-img{
    width: 100%;
    height: 80%;
    margin: 0px;
}

.p-img img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    padding-left: 5%;
    padding-right: 5%;

}

.p-container-column{
    display: flex;
    flex-direction: column;
}

.p-container-row{
    display: flex;
    margin-bottom: 10px;

}

.p-box{
    width: 300px;
    height: 500px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

#contact{
    background-color: #FFF;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#contact form{
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1a1a1a;
    box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.01);
}

.c-left{
    width: 40%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-right{
    width: 60%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255,255,255,0.08);
}

.c-l-heading{
    font-family: calibri;
    color: #FFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
    border-bottom: 3px solid #1ed98b;
}

.c-column{
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

.c-column font{
    color:#bfbfbf;
    font-size: 22px;
}

.c-column input{
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFF;
    margin: 10px 0px;
}

.c-column input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
}

.c-column input:focus{
    border-bottom: 1px solid #17d1ac;
    transition: all ease 0.5s;
    
}

.c-message font{
    font-size: 18px;
    color: #4e4e4e;
    font-family: calibri;
}

.c-message{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.c-right textarea{
    width: 100% !important;
    height: 320px !important;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;
}

.c-right textarea::placeholder{
    color:#ebebeb;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: calibri;
}

.c-right button{
    width: 100%;
    height: 50px;
    background-color: #1ed98b;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media(max-width:1190px){
    .intro{
        left:10%;
        top:50%;
        transform: translate(-10%,-50%);
    }
    .about-model{
        height: 400px;
    }

    #story{
        height: auto;
    }

    .s-container{
        flex-wrap: wrap;
    }
    .s-b-text{
        text-align: center;
    }

    #contact form{
        width: 95% !important;
    }
}

@media(max-width:970px){
    .intro{
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
    .about-model{
        display: none;
    }

    #about{
        justify-content: center;
        padding-top: 0px;
    }

    .about-text{
        width:90%;
    }

    .about-text h2{
        font-size:4rem;
    }

   

    .p-box{
        height: 300px;
        width: 180px;
    }



}

@media(max-width: 900px){
    .menu{
        position: fixed;
        box-sizing: border-box;
        top: 44px;
        left:-100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color:white;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        font-size: 24px;
        color: black;
    }

    .toggle{
        width: 40px;
        height: 40px;
        background: url("menu3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active{

        background: url("close1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    .menu.active{
         left:0;
    }

    #contact{
        padding: 20px;
        height: auto;
        box-sizing: border-box;
    }

    #contact form{
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 90% !important;
    }

    .c-left,
    .c-right{
        width: 100%;
        border: none;
    }

    .c-column{
        width: 100%;
    }

    .c-column-input{
        width: 100%;
        border: none;
        background-color: #262626 !important;
        height: 40px;
    }

    textarea{
        background-color: #262626!important;
        margin: 10px 0px;
        padding: 10px;
        height: 200px !important;
        width: 100% !important;
    }

    .c-message{
        margin: 0px;
    }

    #contact form h1{
        margin: 5px 0px;
    }

}

@media(max-width: 600px){

    .intro{
        width: 60%;
    }
    .arrow{
        margin-bottom: 20px;
    }

    .p-box{
        margin-left: 17% ;
        height: 500px;
        width: 300px;

    }
    .p-container-row{
        flex-wrap: wrap;
    }

    .about-text h2{
        font-size: 3rem;
    }
    .about-text h3{
        font-size: 2rem;
    }

    .about-text p{
        font-size: 1.1rem;
    }

}

@media(max-width: 400px){
    .s-box{
        width: 100%;
        height: 400px;
    }
    

}